@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #faf7f2;
  --warm: #f5ede0;
  --sage-500: #527d52;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
}

.font-display {
  font-family: var(--font-display);
}

.font-body {
  font-family: var(--font-body);
}
